@font-face {
    font-family: 'franie';
    src: url('Fonts/Franie/franievariabletest-italic-bf64c31f3d8c758-webfont.woff2') format('woff2'),
         url('Fonts/Franie/franievariabletest-italic-bf64c31f3d8c758-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'franie';
    src: url('Fonts/Franie/franievariabletest-regular-bf64c31f3d73b64-webfont.woff2') format('woff2'),
         url('Fonts/Franie/franievariabletest-regular-bf64c31f3d73b64-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franie';
    src: url('Fonts/Franie/franievariabletest-bold-bf64c31f3d8798d-webfont.woff2') format('woff2'),
         url('Fonts/Franie/franievariabletest-bold-bf64c31f3d8798d-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'franie', Arial, Helvetica, sans-serif;
    margin: 0;
    background: #000; /* Black background */
    color: #fff; /* White text */
    font-size: 1.5rem;
    position: relative; /* Ensure the body is positioned relative for the overlay */
}

body::before {
    content: '';
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay for even better contrast */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 3rem;
}

.line {
    background-color: whitesmoke;
    width: 2px;
    height: 65rem;
    margin: 0 auto;
}

.title {
    margin-top: 50vh; /* Push the title down */
    margin-bottom: 1rem; /* Add space below the title */
}

.checkpoint1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.checkpoint2 {
    border-left: 2px solid whitesmoke;
    transform: translateX(40rem);
    padding-left: 15rem;
    padding-top: 30rem;
    padding-bottom: 30rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.checkpoint10 {
    border-left: 2px solid whitesmoke;
    transform: translateX(40rem);
    padding-left: 15rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo2,
.logo10,
.logo4,
.logo5,
.logo6,
.logo7,
.logo8,
.logo9 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.logo2 img {
    width: 30rem;
    height: auto;
}

.logo10 img {
    width: 25rem;
    height: auto;
    display: block;
}

.checkpoint2 div:nth-child(2),
.checkpoint10 div:nth-child(2),
.checkpoint4 div:nth-child(2),
.checkpoint5 div:nth-child(2),
.checkpoint6 div:nth-child(2),
.checkpoint7 div:nth-child(2),
.checkpoint8 div:nth-child(2),
.checkpoint9 div:nth-child(2) {
    margin-bottom: 2rem; /* Adds space between the text (h2 + p) and the images */
}

.checkpoint3 {
    display: flex;
    flex-direction: column; /* Stack the text and image vertically */
    align-items: center; /* Center the image */
}

.checkpoint3 .text3 {
    display: flex;
    flex-direction: column; /* Stack the text vertically (h2 and p) */
    align-items: flex-start; /* Align the text to the left of the container */
    width: 100rem; /* Same width as the image */
    text-align: left; /* Align text within the box */
    margin-bottom: 1rem; /* Add spacing below the text block */
}

.checkpoint3 .text3_header {
    display: flex;
    flex-direction: column; /* Stack the text vertically (h2 and p) */
    align-items: flex-start; /* Align the text to the left of the container */
    width: 100rem; /* Same width as the image */
    text-align: left; /* Align text within the box */
    margin-top: 1rem;
}

.logo3 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image */
}

.logo1 img, 
.logo3 img {
    width: 100rem; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid whitesmoke;
    display: block;
}

.checkpoint4 {
    border-right: 2px solid whitesmoke;
    transform: translateX(45rem);
    padding-right: 15rem;
    padding-top: 30rem;
    padding-bottom: 30rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo4 img {
    width: 25rem;
    height: 25rem;
}

.checkpoint5 {
    border-right: 2px solid whitesmoke;
    transform: translateX(46.5rem);
    padding-right: 15rem;
    padding-bottom: 30rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}


.logo5 img {
    width: 50rem;
    height: auto;
}

.checkpoint6 {
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    transform: translateX(18.5rem);
    padding-right: 15rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo6 img {
    width: 25rem;
    height: auto;
}

.checkpoint7 {
    border-left: 2px solid whitesmoke;
    transform: translateX(18.5rem);
    padding-left: 15rem;
    padding-top: 10rem;
    padding-bottom: 30rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo7 img {
    width: 40rem;
    height: auto;
}

.checkpoint8 {
    border-left: 2px solid whitesmoke;
    transform: translateX(18.5rem);
    padding-left: 15rem;
    padding-bottom: 30rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo8 img {
    width: 70rem;
    height: auto;
}

.checkpoint9 {
    border-left: 2px solid whitesmoke;
    transform: translateX(18.5rem);
    padding-left: 15rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.logo9 img {
    width: 25rem;
    height: auto;
}

img {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

h2::before {
    content: '';
    background: whitesmoke;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 100%;
    align-items: center;
}

.checkpoint1 h2::before,
.checkpoint3 h2::before {
    visibility: hidden;
}

.checkpoint2 h2::before,
.checkpoint10 h2::before,
.checkpoint7 h2::before,
.checkpoint8 h2::before,
.checkpoint9 h2::before {
    transform: translateX(-16.1rem);
}

.checkpoint4 h2::before {
    transform: translateX(65.55rem);
}

.checkpoint5 h2::before {
    transform: translateX(64.1rem);
}
.checkpoint6 h2::before {
    transform: translateX(92.1rem);
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.hidden0 {
    transition: all 3s;
}

.hidden0:nth-child(2) {
    transition-delay: 1s;
}

.hidden1:nth-child(2), 
.hidden3:nth-child(2) {
    transition-delay: 200ms;
}

.hidden1:nth-child(3), 
.hidden3:nth-child(3) {
    transition-delay: 600ms;
}

.hidden2_text, 
.hidden10_text, 
.hidden4_text, 
.hidden5_text, 
.hidden6_text, 
.hidden7_text, 
.hidden8_text,
.hidden9_text {
    opacity: 0;
    transition: all 1s ease;
}

.show.hidden2_text,
.show.hidden10_text,
.show.hidden4_text, 
.show.hidden5_text, 
.show.hidden6_text, 
.show.hidden7_text, 
.show.hidden8_text,
.show.hidden9_text {
    opacity: 1;
}

.hidden2_text:nth-child(2), 
.hidden10_text:nth-child(2), 
.hidden4_text:nth-child(2), 
.hidden5_text:nth-child(2), 
.hidden6_text:nth-child(2), 
.hidden7_text:nth-child(2), 
.hidden8_text:nth-child(2),
.hidden9_text:nth-child(2) {
    transition-delay: 200ms;
}

.hidden2_img,
.hidden10_img,
.hidden7_img,
.hidden8_img,
.hidden9_img {
    opacity: 0;
    transform: translateX(-15rem);
    transition: all 1s ease;
}

.show.hidden2_img,
.show.hidden10_img,
.show.hidden7_img,
.show.hidden8_img,
.show.hidden9_img {
    opacity: 1;
    transform: translateX(0);
}

.hidden2_img:nth-child(1), 
.hidden10_img:nth-child(1), 
.hidden7_img:nth-child(1),
.hidden8_img:nth-child(1),
.hidden9_img:nth-child(1) {
    transition-delay: 500ms;
}

.hidden2_img:nth-child(2),
.hidden10_img:nth-child(2),
.hidden9_img:nth-child(2) {
    transition-delay: 700ms;
}

.hidden9_img:nth-child(3) {
    transition-delay: 900ms;
}

.hidden4_img,
.hidden5_img,
.hidden6_img {
    opacity: 0;
    transform: translateX(15rem);
    transition: all 1s ease;
}

.show.hidden4_img,
.show.hidden5_img,
.show.hidden6_img {
    opacity: 1;
    transform: translateX(0);
}

.hidden4_img:nth-child(1),
.hidden5_img:nth-child(1),
.hidden6_img:nth-child(1) {
    transition-delay: 500ms;
}

.hidden4_img:nth-child(2),
.hidden5_img:nth-child(2),
.hidden6_img:nth-child(2) {
    transition-delay: 700ms;
}

.hidden6_img:nth-child(3) {
    transition-delay: 900ms;
}

img {
    transition: transform 0.3s ease-in-out;
}

/* Hover effect */
img:hover {
    transform: scale(1.05); 
}

.logo1 img,
.logo3 img {
    transform: scale(1);
}

img.logo1,
img.logo3 {
    transition: all;
}